apiVersion: v1alpha1
sts-region: ${region}
discovery:
  jobs:
    - type: AWS/ECS
      regions: [${region}]
      period: 60
      length: 300
      metrics:
        - name: CPUUtilization
          statistics: [Average]
        - name: MemoryUtilization
          statistics: [Average]
    - type: AWS/ApplicationELB
      regions: [${region}]
      period: 60
      length: 300
      metrics:
        - name: RequestCount
          statistics: [Sum]
        - name: HTTPCode_Target_5XX_Count
          statistics: [Sum]
        - name: TargetResponseTime
          statistics: [Average]
    - type: AWS/RDS
      regions: [${region}]
      period: 60
      length: 300
      metrics:
        - name: CPUUtilization
          statistics: [Average]
